name: Generate GitHub Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:  

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Générer les métriques
        uses: lowlighter/metrics@latest
        with:
          filename: github-metrics.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: header
          config_timezone: Europe/Paris
          optimize: no  
          
          plugin_languages: yes
          plugin_languages_details: percentage
          plugin_isocalendar: yes
          plugin_repositories: yes
          plugin_stars: yes
          plugin_repositories_featured: no  

