name: Generate GitHub Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Générer les métriques
        uses: stalomeow/metrics@projects-v2
        with:
          filename: github-metrics.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: header, activity, community, metadata
          config_timezone: Europe/Paris
          optimize: no  

          plugin_habits: yes
          plugin_habits_facts: no
          plugin_habits_charts: yes
          
          plugin_languages: yes
          plugin_languages_ignored: html, css, cmake, hack
          plugin_languages_colors: github
          plugin_languages_details: bytes-size, percentage
          plugin_languages_threshold: 2%

          plugin_isocalendar: yes
          plugin_stars: yes
          plugin_achievements: yes
          plugin_achievements_display: compact
